<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ArIES</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    
  <!-- Favicons -->
  <link href="/index/img/favicon.png" rel="icon">
  <link href="/index/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/index/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="/index/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/index/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/index/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/index/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/index/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/index/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================rgb(0, 0, 0),   rgb(250, 250, 250);
  Header
  ============================-->

  <header id="header" class="fixed-top">



    <div class="container">


      <div class="logo float-left" title="Artificial Intelligence and Electronics Society, IIT Roorkee">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="/" class="scrollto llp"><img src = "/index/img/favicon.png"><b>&nbspArIES</b></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro"><b>Home</b></a></li>
          <li><a href="#about"><b>About Us</b></a></li>
           <li><a href="/aeroclub"><b>Aero Club</b></a></li>
          <li><a href="#services"><b>Projects</b></a></li>
          <li><a href="#team"><b>Team</b></a></li>
          <li><a href="#portfolio"><b>Gallery</b></a></li>
          <li class="drop-down"><a href=""><b>Menu</b></a>
            <ul>
              <li><a href="/login">Login (Members Only)</a></li>
              <!-- <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <!-- <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li> -->
            </ul>
          </li>
          <li><a href="#contact"><b>Contact Us</b></a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>


  </header><!-- #header -->


  <!-- responsive background -->
<div id = "l-head">


   <section id="intro" class="clearfix">

    <div class=" demo">

       <div class="content">

          <div id="large-header" class="large-header large-header2">


             <canvas id="demo-canvas"></canvas>
            

             <div class="container main-title">
              <div class="container" id="flash-mssg">
               <!-- <% if(error && error.length > 0){ %>
                  <div class="alert alert-danger" role="alert" style="font-size: 0.2em; text-align: center;">
                    <%= error %>
                  </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                  <div class="alert alert-success" role="alert" style="font-size: 0.2em; text-align: center;">
                    <%= success %>
                  </div>
                <% } %>
              -->
              
            </div>
         
                <!-- <div class="intro-img">
                  <img src="/index/img/intro-img.jpeg" alt="" class="img-fluid">
                </div> -->
          
                <div class="intro-info">
                  <br>
                  <h2>Welcome to<br><span>ArIES</span></h2>
                  <div>
                    <a href="#about" class="btn-get-started scrollto">About Us</a>
                    <a href="#services" class="btn-services scrollto">Our Projects</a>
                  </div>
                </div>

              </div>
                
            
             
             <!-- <h1 class="main-title">Explore Space</h1> -->
          </div>

       </div>
    </div>

  </section></div>


  <script>
    var width, height, largeHeader, canvas, ctx,target;
    width = window.innerWidth;
    height = window.innerHeight;
    target = {x: width/2, y: height/2};

    largeHeader = document.getElementById('l-head');
    largeHeader.style.height = height+'px';
</script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
  

<!-- /responsive background -->

  <!-- ==========================
    Intro Section
  ============================-->
  <!-- <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/index/img/intro-img.jpeg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Welcome to<br><span>ArIES</span></h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">About Us</a>
          <a href="#services" class="btn-services scrollto">Our Projects</a>
        </div>
      </div>

    </div>
  </section>#intro -->


  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="mb-5">
          <h1 class="a2"><b>About Us</b></h1>
          <p class="a3">We inspire to develop the culture of Artificial Intelligence and Electronics in IIT Roorkee. We aim to innovate existing technology by integrating Artificial Intelligence with hardware components to create interesting projects.</p>
        </header>

        <div class="row about-container">
            <h1 class="a1"><b><centre>What do we do?</centre></b></h1>
            

          
          </div>
          <div class="row about-extra">
             
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <div class="icon-box wow fadeInUp">
              <!-- <div class="icon"><i class="fa fa-shopping-bag"></i></div> -->
              <h3 class="title"><b><br><br><a href="">Artificial Intelligence</a></b></h3>
              <p class="a3">Artificial intelligence (AI) is the 
                simulation of human intelligence processes by machines, 
                especially computer systems. These processes include 
                learning (the acquisition of information and rules for using the
                 information), reasoning (using rules to reach approximate or 
                 definite conclusions) and self-correction.</p> 
                 <p class ="a3">It is difficult to think of a major industry that AI will not transform. This include healthcare, education, tranportation, retail,
                   communication, and agriculture. There are surprisingly clear paths for AI to make a big difference in all these industries.
                   There has never been more requirement of AI as it is today and thats why we try to continously improve and enhance ourselves.  
                 </p>
                 <div class="col-lg-6 content order-lg-1 order-2">
            </div>

          <!-- <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="/index/img/aibig.png" class="img-fluid" alt="">
          </div> -->
        </div>
          </div>
          <div class="col-lg-6 wow fadeInUp">
              <img src="/index/img/aibig.png" class="img-fluid" alt="">
            </div>
          </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <br><br><br>
            <img src="/index/img/iotbig.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <!-- <div class="icon"><i class="fa fa-photo"></i></div> -->
                <h3 class="title"><a href=""><b>Electronics and IOT</b></a></h3>
                <p class="a3">Electronics is a subfield within the wider 
                  electrical engineering academic subject but denotes a broad 
                  engineering field that covers subfields such as analog electronics,
                   digital electronics, consumer electronics, embedded systems and 
                   power electronics. Electronics engineering deals with implementation 
                   of applications, principles and algorithms developed within many 
                   related fields.</p>
            
                  <p class="a3">The Internet of Things is the concept of 
                    connecting any device (so long as it has an on/off switch) to the 
                    Internet and to other connected devices. The IoT is a giant network
                     of connected things and people – all of which collect and share 
                     data about the way they are used and about the environment around 
                     them.</p>
                </div>
          </div>
        </div>

        <div class="row about-extra pt-5"  id="aero">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <br><br><br>
            <img src="/index/img/dronebig.png" class="img-fluid" alt="" >
          </div>


          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                  <!-- <div class="icon"><i class="fa fa-bar-chart"></i></div> -->
                  <h3 class="title"><a href=""><b>Drones</b></a></h3>
                  <p class="a3">A drone, in technological terms, is an 
                    unmanned aircraft. Drones are more formally known as unmanned 
                    aerial vehicles (UAVs) or unmanned aircraft systems (UASes). 
                    Essentially, a drone is a flying robot that can be remotely 
                    controlled or fly autonomously through software-controlled flight 
                    plans in their embedded systems, working in conjunction with onboard 
                    sensors and GPS.<br>In the recent past, UAVs were most often 
                    associated with the military, where they were used initially for
                     anti-aircraft target practice, intelligence gathering and then, 
                     more controversially, as weapons platforms. Drones are now also 
                     used in a wide range of civilian roles ranging from search and 
                     rescue, surveillance, traffic monitoring, weather monitoring and 
                     firefighting, to personal drones and business drone-based 
                     photography, as well as videography, agriculture and even delivery 
                     services.</p>
                </div>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Projects Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Projects</h3>
            <br>
            <h5 style="text-align: center;">A collaborative effort that we plan to achieve a particular aim using different technologies</h5>
            <br>
          </header>
       
          
<div class="container mx-auto mt-4">
  <div class="row">

    <div class="col-md-4">
      <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
  <img src="index/img/projects/flood_rescue.png" class="card-img-top" alt="...">
  <div class="card-body d-flex flex-column justify-content-end">
    <h4 class="card-title" style="text-align:center;">Flood Rescue Drone</h4>

    <br>
        
    <div style="text-align: center;">
      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter1" style="width: fit-content;">
        View More
      </button>
      <br>
     <a href="https://github.com/aries-iitr/Swarm-Drone-Inter-IIT" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </div>
    </div> 

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Flood Rescue Drone</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The aim of this project is to survey the flood hit area autonomously using arial surveillance
         detecting and counting the victims trapped in remote and inaccessible areas and send their 
         GPS location to the rescue base leading to a faster and efficient rescue operations. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    <div class="col-md-4">
      <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
  <img src="index/img/projects/eye_controlled.jpg" class="card-img-top" alt="...">
  <div class="card-body d-flex flex-column justify-content-end">
    <h4 class="card-title" style="text-align:center;">Eye Controlled Wheelchair</h4>
        
   <br>
    <div style="text-align: center;">
      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter2">
        View More
      </button>
      <br>
     <a href="https://github.com/ariesiitr/eye-controlled-wheelchair" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </div>
    </div>  

    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Eye Controlled Wheelchair</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The user controls the direction of the wheelchair by simply moving their eye in that direction,
        and stops the wheelchair by closing their eyes for 1 s. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
<img src="index/img/projects/bse_server.jpg" class="card-img-top" alt="...">
<div class="card-body d-flex flex-column justify-content-end">
<h4 class="card-title" style="text-align:center;">BSE Serverless Predictor</h4>
    
<br>
<div style="text-align: center;">
  <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter17">
    View More
  </button>
  <br>
 <a href="https://github.com/ariesiitr/BSE-Serverless-Predictor" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter17" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLongTitle">BSE Serverless Predictor</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    A serverless model runs periodically using Amazon Web Services Serverless Computing technologies to 
    update the dataset and features at a regular interval. A set of old and volatile stocks are selected
     and run through a LSTM Network to make daily predictions for stock price. The features are tested on 
     alphalens and back-tested on Pyfolio.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <div class="col-md-4">
      <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
  <img src="index/img/projects/emotion_recognition.jfif" class="card-img-top" alt="...">
  <div class="card-body d-flex flex-column justify-content-end">
    <h4 class="card-title" style="text-align:center;">Emotion Recognition using audio and video</h4>
        
   <br>
    <div style="text-align: center;">
      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter3">
        View More
      </button>
      <br>
     <a href="https://github.com/ariesiitr/Emotion-Recognition-using-Audio-and-Video" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Emotion Recognition using audio and video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        In this project, Recognition is performed on seven basic human emotions which are angry, disgust, 
        fear, happy, sad, surprise and neutral. Emotion recognition is done using video in which basic CNN 
        algorithm is used, and it is trained and tested with the help of fer2013 dataset. 
        For doing the same task using audio, the Ravdess dataset is used. A CNN model is initialized 
        as an emotion classifier and it is trained on the dataset.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="col-md-4">
      <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
  <img src="index/img/projects/smart_gadget.jpg" class="card-img-top" alt="...">
  <div class="card-body d-flex flex-column justify-content-end">
    <h4 class="card-title" style="text-align:center;">Smart Gadgets <br> For <br> Soldiers</h4>
        
   <br>
    <div style="text-align: center;">
      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter4">
        View More
      </button>
      <br>
     <a href="https://github.com/ariesiitr/Smart-Gadgets-For-Soldiers" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Smart Gadgets For Soldiers</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        It aims to develop an effective and efficient real-time health and position monitoring system 
        for soldiers. It Collects the data of various health parameters like pulse rate, temperature etc. 
        and live location from the user using respective sensors and Arduino and sends this data from Arduino 
        to google firebase using Wi-Fi module. It Displays the live feed from the real-time database to a web
        application designed with HTML and CSS. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    <div class="col-md-4">
      <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
  <img src="index/img/projects/traffic_light.jpg" class="card-img-top" alt="...">
  <div class="card-body d-flex flex-column justify-content-end">
    <h4 class="card-title" style="text-align:center;">Traffic Light Management System</h4>
        
   <br>
    <div style="text-align: center;">
      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter5">
        View More
      </button>
      <br>
     <a href="https://github.com/ariesiitr/Traffic-Light-Management-System" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </div>
    </div>  
    
    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Traffic Light Management System</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We make use of the YOLO v5 object detection model to process the numbers of cars, buses, 
        trucks etc at any signal, and then we feed that data to a function that calculates the 
        appropriate green signal time , based on traffic density and a few other parameters such as 
        average crossing times. This helps in efficient regulation of traffic across junctions.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    

</div>
  </div>
  
        </div>
        <div class="section-header">
            
          <p><a href="/projects" class="btn btn-dark">View All</a> </p>
        </div>

      </section><!-- #services -->
  

  
    <!--==========================
      Why Us Section
    ============================
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h4>Why choose us?</h4>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body d-flex flex-column justify-content-end">
                <h5 class="card-title" style="text-align:center;">Corporis dolorem</h5>
                <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body d-flex flex-column justify-content-end">
                <h5 class="card-title" style="text-align:center;">Voluptates dolores</h5>
                <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body d-flex flex-column justify-content-end">
                <h5 class="card-title" style="text-align:center;">Eum ut aspernatur</h5>
                <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>
  
        </div>

      </div>
    </section>-->

 
    <!--==========================
      Achievement Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Achievements</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="/index/img/mood1.png" class="testimonial-img" alt="">
                <p class="gsoc">Rahul Ratan Mirdha</p>
                <h4>MOOD CAFE, CoFounder & CTO</h4>
                <p>
                  Moodcafe is a funded mental health based startup by alumni of ArIES, IIT Roorkee that aims to bring a new-age empathetic caring approach to mental health and well being by leveraging best practices and emerging research-driven trends of psychology, counselling, therapies, artificial intelligence and innovative reach out strategies
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/index/img/aeva1.jpeg" class="testimonial-img" alt="">
                <p class="gsoc">Shubham Gupta</p>
                <h4>AEVA, CoFounder & CTO</h4>
                <p>
                  Aeva Private Limited, is an IOT (Internet of Things) based Home Automation company, 
                  run and led by ArIES, IIT Roorkee Alumni and students, which provides complete automation solutions 
                  with superior quality and well-designed product.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/index/img/bitgrit.jpeg" class="testimonial-img" alt="">
                <h4>World Data Science Comp., Japan</h4>
                <p>
                  One of our team member Ankit Dhankar secured 1st position in the 
                  World Data Science Competition organized by bitgrit which was held in Japan.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/index/img/gsoc.png" class="testimonial-img" alt="">
                <p class="gsoc">Ankit Dhankar</p>
                <h4>GSoC Mentor</h4>
                <p>
                  GSoC is a program which works with many open source, free software and technology- related groups to 
                  identify and fund proposals for student open-souce projects.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/index/img/vale.jpg" class="testimonial-img" alt="">
                <h4>Valeo Innovation Challenge</h4>
                <p>
                  Valeo Innovation Challenge encourages students from all over the world to innovate and to develope 
                  enterpreneurial spirit, offering the winner the opportuity to create their own start-ups. A team from ArIES 
                  IITR consisting of Amit Manchanda, Raghav Chawla, Snehil Vijay and Sharanpreet Singh Lobana succesfuly 
                  completed the challange which was held in France. 
                  </p>
              </div>

              <div class="testimonial-item">
                <img src="/index/img/interiit.png" class="testimonial-img" alt="">
                <h4>Inter-IIT, First Position</h4>
                <p>
                  Inter-IIT Tech meet 2018 was held in IIT Bombay. We as a team participated in several ardent competitions, exhibitions and eluminating talks and grabbed Gold Medals in several events.
                </p>
              </div>


            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->


 <!--==========================
      Clients Section
    ============================-->
   <!---- <section id="clients" class="section-bg">

        <div class="container">
  
          <div class="section-header">
            <h3>Our CLients</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
          </div>
  
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-1.png" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-2.png" class="img-fluid" alt="">
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-3.png" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-4.png" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-5.png" class="img-fluid" alt="">
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-6.png" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-7.png" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="/index/img/clients/client-8.png" class="img-fluid" alt="">
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section>-->
  
  

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team ArIES</h3>
          <br>
          <h5 style="text-align: center;">We belive in creating projects that brings out influential change in the society </h5>
          <br>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="/index/img/members/vikrant.jpg" class="img-fluid" alt="" style="width:100%;">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Vikrant Dey</h4>
                  <span>Secretary, ArIES</span>
                  <div class="social">
                    <a href="https://twitter.com/deyvikrant" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/vikrant.dey.96" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="mailto: vdey@mt.iitr.ac.in" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/vikrant-dey-6a6b811a2" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/index/img/members/Priyanshu_Singh_Somvanshi_4 - PRIYANSHU SINGH SOMVANSHI.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Priyanshu Singh Somvanshi</h4>
                  <span>Additional Secretary</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/priyanshu.singh.944023" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="mailto: psomvanshi@es.iitr.ac.in" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/priyanshu-singh-somvanshi-ba8b811a2/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/index/img/members/Pranjal_Mangal.jpg" class="img-fluid" alt="" height="100%">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Pranjal Mangal</h4>
                  <span>Additional Secretary</span>
                  <div class="social">
                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/pranjal.mangal.7" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="mailto: pmangal@ee.iitr.ac.in" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/pranjal-mangal-250327171/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/index/img/members/maanas.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Maanas Verma</h4>
                  <span>Joint Secretary</span>
                  <div class="social">
                    <a href="https://twitter.com/maanasverma1" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/maanaverma.in" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="mailto: mverma@ph.iitr.ac.in" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/maanas-verma-80b863176/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>
          <div class="section-header">
            
            <p><a href="/team" class="btn btn-dark">View All</a> </p>
          </div>

        

      </div>
    </section><!-- #team -->

   
   <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">

      <div class="container">

          <header class="section-header">
              <h3 class="section-title">Gallery</h3>
            </header>

        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner back-black">
                    <div class="carousel-item active">
                        
                        
                        <div class="row">
                            <div class="column">
                                <img src="index/img/portfolio/21.jpg" alt="First Slide">
                                <img src="index/img/portfolio/22.jpg" alt="First Slide">   
                                <img src="index/img/portfolio/23.jpg" alt="First Slide">   
                                 
                            </div>
                        
        
                            <div class="column">
                                <img src="index/img/portfolio/24.jpg" alt="First Slide">
                                <img src="index/img/portfolio/25.jpg" alt="First Slide">   
                                <img src="index/img/portfolio/26.jpg" alt="First Slide">   
                                  
                               
                            </div>
                            <div class="column">
                              <img src="index/img/portfolio/7.jpg" alt="First Slide">
                              <img src="index/img/portfolio/8.jpg" alt="First Slide">   
                              <img src="index/img/portfolio/9.jpg" alt="First Slide">   
                               
                            </div>
                      
      
                            <div class="column">
                              <img src="index/img/portfolio/1.jpg" alt="First Slide">
                              <img src="index/img/portfolio/2.jpg" alt="First Slide">   
                              <img src="index/img/portfolio/3.jpg" alt="First Slide">   
                                
                             
                            </div>

                        </div>     
                        
                    </div>
                    <div class="carousel-item">
                         <div class="row">
                          <div class="column">
                            <img src="index/img/portfolio/27.jpg" alt="First Slide">
                            <img src="index/img/portfolio/28.jpg" alt="First Slide">   
                            <img src="index/img/portfolio/29.jpg" alt="First Slide">   
                             
                        </div>
                    
    
                        <div class="column">
                            <img src="index/img/portfolio/4.jpg" alt="First Slide">
                            <img src="index/img/portfolio/5.jpg" alt="First Slide">   
                            <img src="index/img/portfolio/6.jpg" alt="First Slide">   
                              
                           
                        </div>
                        <div class="column">
                          <img src="index/img/portfolio/18.jpg" alt="First Slide">
                          <img src="index/img/portfolio/19.jpg" alt="First Slide">   
                          <img src="index/img/portfolio/20.jpg" alt="First Slide">   
                           
                        </div>
                  
  
                        <div class="column">
                          <img src="index/img/portfolio/10.jpg" alt="First Slide">
                          <img src="index/img/portfolio/11.jpg" alt="First Slide">   
                          <img src="index/img/portfolio/12.jpg" alt="First Slide">   
                            
                         
                        </div>
                             
                        
                    </div>
                    </div>



                    <div class="carousel-item">
                      <div class="row">
                        <div class="column">
                          <img src="index/img/portfolio/15.jpg" alt="First Slide">
                          <img src="index/img/portfolio/16.jpg" alt="First Slide">   
                          <img src="index/img/portfolio/24.jpg" alt="First Slide">   
                           
                      </div>
                  
  
                      <div class="column">
                          <img src="index/img/portfolio/13.jpg" alt="First Slide">
                          <img src="index/img/portfolio/14.jpg" alt="First Slide">   
                          <img src="index/img/portfolio/1.jpg" alt="First Slide">   
                            
                         
                      </div>
                      <div class="column">
                        <img src="index/img/portfolio/20.jpg" alt="First Slide">
                        <img src="index/img/portfolio/22.jpg" alt="First Slide">   
                        <img src="index/img/portfolio/17.jpg" alt="First Slide">   
                         
                      </div>
                

                      <div class="column">
                        <img src="index/img/portfolio/29.jpg" alt="First Slide">
                        <img src="index/img/portfolio/28.jpg" alt="First Slide">   
                        <img src="index/img/portfolio/23.jpg" alt="First Slide">   
                          
                       
                      </div>
                           
                      
                  </div>
                    </div>
                    
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

      </div>
<!-- 
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Our Portfolio</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/app1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 1</a></h4>
                  <p>App</p>
                  <div>
                    <a href="/index/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/web3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 3</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="/index/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/app2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                  <div>
                    <a href="/index/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/card2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="/index/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/web2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="/index/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/app3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                  <div>
                    <a href="/index/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/card1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="/index/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/card3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="/index/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/portfolio/web1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="/index/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div> -->
      </section><!-- #portfolio -->
  

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1104.8750297121394!2d77.89935128813642!3d29.86673756185348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390eb3637f108c99%3A0x6375696970d04224!2sArIES%20IIT%20Roorkee!5e1!3m2!1sen!2sin!4v1571174246685!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              <!-- <iframe src="https://www.google.com/maps/place/ArIES+IIT+Roorkee/@29.8632661,77.8926332,17z/data=!3m1!4b1!4m5!3m4!1s0x390eb36fc265ea5d:0xcb1f62e79f84e4cf!8m2!3d29.8632615!4d77.8948219" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe> -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>New SAC Building,IITR</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>ecsectioniitr@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+91 7083060778</p>
              </div>
            </div>

            <!-- <div class="form"> -->
              <!-- <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div> -->
              <form action="/submit-form" method="POST" class="form" >
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message" class="btn btn-success">Send Message</button></div>
              </form>
            <!-- </div> -->
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col">
            <h3 class="sankalp" ><br><img src = "/index/img/favicon.png" height = 50 style="margin-bottom:10px;"><b>&nbspArIES</b></h3>
            <p style="font-size:20px"><b> Innovate | Imagine | Inspire </b></p>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p> -->
          </div>

    <!--       <div class="col">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
 -->
<!--           <div id="test" class="col">
            <h4>Contact Us</h4>
            <p><
              New SAC Building <br>
              Opp. Kasturba Bhawan<br>
              IIT Roorkee <br>
              Roorkee, Uttarakhand <br>
              <strong>Phone:</strong> +91 7083060778<br>
              <strong>Email:</strong> ecsectioniitr@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

 -->
        <div class="col">
          <img src = "index/img/brain.png" height = "210">
        </div>



          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Contact Us</h4>
            <p>
              New SAC Building <br>
              Opp. Kasturba Bhawan<br>
              IIT Roorkee <br>
              Roorkee, Uttarakhand <br>
              <strong>Phone:</strong> +91 7083060778<br>
              <strong>Email:</strong> ecsectioniitr@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://github.com/ariesiitr" class="github"><i class="fa fa-github fa-lg"></i></a>
              <a href="https://www.facebook.com/ariesiitr" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/ariesiitr/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="mailto: ecsectioniitr@gmail.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/company/aries-iitr/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ArIES</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a>ArIES-IITR</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/index/lib/jquery/jquery.min.js"></script>
  <script src="/index/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/index/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/index/lib/easing/easing.min.js"></script>
  <script src="/index/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/index/lib/wow/wow.min.js"></script>
  <script src="/index/lib/waypoints/waypoints.min.js"></script>
  <script src="/index/lib/counterup/counterup.min.js"></script>
  <script src="/index/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/index/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/index/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/index/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/index/js/main.js"></script>

</body>
</html>
