<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ArIES</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    
  <!-- Favicons -->
  <link href="/index/img/favicon.png" rel="icon">
  <link href="/index/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/index/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="/index/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/index/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/index/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/index/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/index/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/index/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================rgb(0, 0, 0),   rgb(250, 250, 250);
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto llp"><img src = "/index/img/favicon.png"><b>&nbspArIES</b></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class=""><a href="/#intro"><b>Home</b></a></li>
          <li><a href="/#about"><b>About Us</b></a></li>
           <li><a href=""><b>Aero Club</b></a></li>
          <li><a href="/#services"><b>Projects</b></a></li>
          <li class="active"><a href="/team.ejs"><b>Team</b></a></li>
          <li><a href="/#portfolio"><b>Gallery</b></a></li>
          <li class="drop-down"><a href=""><b>Menu</b></a>
            <ul>
              <li><a href="/login">Login (Members Only)</a></li>
              
            </ul>
          </li>
          <li><a href="/#contact"><b>Contact Us</b></a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->
 <!--==========================
      Projects Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Projects</h3>
            <br>
            <h5 style="text-align: center;">A collaborative effort that we plan to achieve a particular aim using different technologies</h5>
            <br>
          </header>
  
          <div class="row">

            <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/flood_rescue.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Flood Rescue Drone</h4>
          
              <br>
                  
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter1" style="width: fit-content;">
                  View More
                </button>
                <br>
               <a href="https://github.com/aries-iitr/Swarm-Drone-Inter-IIT" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div> 
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Flood Rescue Drone</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  The aim of this project is to survey the flood hit area autonomously using arial surveillance
                   detecting and counting the victims trapped in remote and inaccessible areas and send their 
                   GPS location to the rescue base leading to a faster and efficient rescue operations. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/eye_controlled.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Eye Controlled Wheelchair</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter2">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/eye-controlled-wheelchair" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>  
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Eye Controlled Wheelchair</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  The user controls the direction of the wheelchair by simply moving their eye in that direction,
                  and stops the wheelchair by closing their eyes for 1 s. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 project-margin">
            <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
          <img src="index/img/projects/bse_server.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column justify-content-end">
          <h4 class="card-title" style="text-align:center;">BSE Serverless Predictor</h4>
              
          <br>
          <div style="text-align: center;">
            <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter17">
              View More
            </button>
            <br>
           <a href="https://github.com/ariesiitr/BSE-Serverless-Predictor" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          </div>
          </div>
          </div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter17" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">BSE Serverless Predictor</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              A serverless model runs periodically using Amazon Web Services Serverless Computing technologies to 
              update the dataset and features at a regular interval. A set of old and volatile stocks are selected
               and run through a LSTM Network to make daily predictions for stock price. The features are tested on 
               alphalens and back-tested on Pyfolio.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
          </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/emotion_recognition.jfif" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Emotion Recognition using audio and video</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter3">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Emotion-Recognition-using-Audio-and-Video" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Emotion Recognition using audio and video</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  In this project, Recognition is performed on seven basic human emotions which are angry, disgust, 
                  fear, happy, sad, surprise and neutral. Emotion recognition is done using video in which basic CNN 
                  algorithm is used, and it is trained and tested with the help of fer2013 dataset. 
                  For doing the same task using audio, the Ravdess dataset is used. A CNN model is initialized 
                  as an emotion classifier and it is trained on the dataset.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/smart_gadget.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Smart Gadgets <br> For <br> Soldiers</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter4">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Smart-Gadgets-For-Soldiers" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Smart Gadgets For Soldiers</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  It aims to develop an effective and efficient real-time health and position monitoring system 
                  for soldiers. It Collects the data of various health parameters like pulse rate, temperature etc. 
                  and live location from the user using respective sensors and Arduino and sends this data from Arduino 
                  to google firebase using Wi-Fi module. It Displays the live feed from the real-time database to a web
                  application designed with HTML and CSS. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
              
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/traffic_light.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Traffic Light Management System</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter5">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Traffic-Light-Management-System" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>  
              
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Traffic Light Management System</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  We make use of the YOLO v5 object detection model to process the numbers of cars, buses, 
                  trucks etc at any signal, and then we feed that data to a function that calculates the 
                  appropriate green signal time , based on traffic density and a few other parameters such as 
                  average crossing times. This helps in efficient regulation of traffic across junctions.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
  
            <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/chess_playing_bot.jfif" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Chess Playing Bot</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter6">
                  View More
                </button>
                <br>
               <a href="#" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Chess Playing Bot</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  A bot which can play chess in real time with a real person. This bot was made with the help of 
                  Convolutional Neural Network.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/hand_cricket.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Hand Cricket</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter7">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Hand-Cricket" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Hand Cricket</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  In this project, we aim to develop a game in which the user plays ‘Hand Cricket’ against the computer.
                   It makes use of OpenCV for finger gesture detection. Firstly for palm detection, we use a 
                   pre-built Palm detection model in MediaPipe. Then, our subsequent Hand landmark model performs 
                   precise key-point localization of 21 3D hand-knuckle coordinates inside the detected hand regions
                    via regression. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
              
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/waste_detection.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Waste Detection Bin</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter8">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Waste-Detection-Bin" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div> 
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Waste Detection Bin</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This project has the following features -  <br>
                  1) It detects the presence of an approaching human and automatically opens up the lid. <br>
                  2) Waste segregation is done, into dry and wet, using appropriate sensors. <br>
                  3) Metallic waste is also segregated into the dry compartment, prior to non-metallic waste. <br>
                  4) It measures the depth of the dustbin upto which it is filled, to prevent the overfilling of the dustbin.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
                 <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/simulation_using_ros.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Simulation Using ROS</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter9">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Simulation-using-ROS" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div> 
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Simulation using ROS</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  In this project, we have tried to conduct a drone simulation in Gazebo9 using Robotic 
                  Operating System (ROS). 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
                    
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/lip_reading.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Lip Reading</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter10">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Lip-Reading" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Lip Reading</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This project aims to develop a model which can translate lip sequences into meaningful words. 
                  It makes use of MIRACL dataset for small model preparation and GRID dataset for training the 
                  Lip-Net model. Further, a VGGFace model was used which is trained and evaluated on benchmark 
                  face recognition datasets and a Lipnet model was used on the processed videos and corresponding 
                  ctc labels. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
              
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/online_class.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Online Class Note Maker</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter11">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Online-Class-Note-Maker" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Online Class Note Maker</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Online Class Note maker can help students in creating notes. It detects text from images and PDFs. 
                  Further, it summarizes the detected text to create notes. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/twitter_impact.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Twitter Impact on Stock Market</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter12">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Twitter-Impact-on-Stock-Market" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>  
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Twitter Impact on Stock Market</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  In this project, we make use of Sentiment Analysis on a set of tweets targeted at a particular 
                  company(HDFC in our case) over a period of 9 days to forecast how the market will behave in the future.
                   The score of the sentiment analysis is then used as one of the input features for our neural network 
                   which then uses the training set along with the stock price data(obtained using the Yfinance library)
                    for each day to get the optimum set of weights. This final regression function is then used for the 
                    prediction of future stock prices. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/weather.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Weather Balloon</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter13">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/weather-balloon" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Weather Balloon</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  To create a low cost helium-filled weather balloon loaded with an Arduino Uno Board and sensors of 
                  high specificity along with gps and altitude monitoring modules. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/lidar.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Lidar Mapping</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter14">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Lidar-Mapping" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Lidar Mapping</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  We performed 3D lidar mapping using ALTM (Airborne Laser Terrain Mapping) technology. 
                  We also created a UAV simulation by fitting a lidar sensor on a quadcopter using 
                  MATLAB[UAV toolbox, ROS toolbox, Image processing toolbox], Simulink & ROS gazebo. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/voice_chess.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Voice controlled chess</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter15">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/voice-controlled-chess" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter15" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Voice Controlled Chess</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Voice-Controlled Chess is a chess engine which works on the basis of voice commands given by the user. 
                  It is a single player game in which the other player is the computer which makes its move with minimax 
                  and Alpha-Beta pruning algorithms. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/smart_railway.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Smart Railway Alarm</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter16">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Smart-Railway-Alarm" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter16" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Smart Railway Alarm</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This project consists of three parts- <br>
                  1) Railway crossing barrier <br>
                   2) Object detection on track  <br>
                   3) Fire alarm system in train. <br>
                   The railway crossing gate consists of an Arduino system that takes input using an ultrasonic sensor. 
                   When the train approaches the railway crossing, the barrier motors rotate and close the gate. 
                   Object detection on track is done using an ultrasonic sensor (HC-SR04). 
                   The gas alarm system detects smoke and alert passengers on three levels 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          
              <div class="col-md-4 project-margin">
                <div class="card wow bounceInUp" style="width: 18rem; height: 32rem;">
            <img src="index/img/projects/music_controlled_led.jfif" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-end">
              <h4 class="card-title" style="text-align:center;">Music Controlled LED</h4>
                  
             <br>
              <div style="text-align: center;">
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter18">
                  View More
                </button>
                <br>
               <a href="https://github.com/ariesiitr/Music-Controlled-LEDs" class="link-details" title="Github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
              </div>
          
              <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter18" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">Music Controlled LED Lights</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  In this Project we planned to make a 3-Dimensional 4x4x4 Music Controlled LED Cube. 
                  Our objective was to programme the circuit for various intensity values. The circuit would detect 
                  these values from a sound/music source through a sensor and light different LEDs governing cool patterns. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
              
  
          </div>
  
        </div>
    </section>   
    
     <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container-fluid">
  
          <div class="section-header">
            <h3>Contact Us</h3>
          </div>
  
          <div class="row wow fadeInUp">
  
            <div class="col-lg-6">
              <div class="map mb-4 mb-lg-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1104.8750297121394!2d77.89935128813642!3d29.86673756185348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390eb3637f108c99%3A0x6375696970d04224!2sArIES%20IIT%20Roorkee!5e1!3m2!1sen!2sin!4v1571174246685!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <!-- <iframe src="https://www.google.com/maps/place/ArIES+IIT+Roorkee/@29.8632661,77.8926332,17z/data=!3m1!4b1!4m5!3m4!1s0x390eb36fc265ea5d:0xcb1f62e79f84e4cf!8m2!3d29.8632615!4d77.8948219" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe> -->
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-5 info">
                  <i class="ion-ios-location-outline"></i>
                  <p>New SAC Building,IITR</p>
                </div>
                <div class="col-md-4 info">
                  <i class="ion-ios-email-outline"></i>
                  <p>ecsectioniitr@gmail.com</p>
                </div>
                <div class="col-md-3 info">
                  <i class="ion-ios-telephone-outline"></i>
                  <p>+91 7083060778</p>
                </div>
              </div>
  
              <!-- <div class="form"> -->
                <!-- <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div> -->
                <form action="/submit-form" method="POST" class="form" >
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group col-lg-6">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit" title="Send Message" class="btn btn-success">Send Message</button></div>
                </form>
              <!-- </div> -->
            </div>
  
          </div>
  
        </div>
      </section><!-- #contact -->
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col">
              <h3 class="sankalp" ><br><img src = "/index/img/favicon.png" height = 50 style="margin-bottom:10px;"><b>&nbspArIES</b></h3>
              <p style="font-size:20px"><b> Innovate | Imagine | Inspire </b></p>
              <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p> -->
            </div>
  
      <!--       <div class="col">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
   -->
  <!--           <div id="test" class="col">
              <h4>Contact Us</h4>
              <p><
                New SAC Building <br>
                Opp. Kasturba Bhawan<br>
                IIT Roorkee <br>
                Roorkee, Uttarakhand <br>
                <strong>Phone:</strong> +91 7083060778<br>
                <strong>Email:</strong> ecsectioniitr@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
  
            </div>
  
   -->
          <div class="col">
            <img src = "index/img/brain.png" height = "210">
          </div>
  
  
  
            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Contact Us</h4>
              <p>
                New SAC Building <br>
                Opp. Kasturba Bhawan<br>
                IIT Roorkee <br>
                Roorkee, Uttarakhand <br>
                <strong>Phone:</strong> +91 7083060778<br>
                <strong>Email:</strong> ecsectioniitr@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="https://github.com/ariesiitr" class="github"><i class="fa fa-github fa-lg"></i></a>
                <a href="https://www.facebook.com/ariesiitr" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ariesiitr/" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="mailto: ecsectioniitr@gmail.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/company/aries-iitr/" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
  
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>ArIES</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
          -->
          Designed by <a>ArIES-IITR</a>
        </div>
      </div>
    </footer><!-- #footer -->

    </body>
    </html>