<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ArIES</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    
  <!-- Favicons -->
  <link href="/index/img/favicon.png" rel="icon">
  <link href="/index/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/index/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="/index/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/index/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/index/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/index/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/index/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/index/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================rgb(0, 0, 0),   rgb(250, 250, 250);
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto llp"><img src = "/index/img/favicon.png"><b>&nbspArIES</b></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class=""><a href="/#intro"><b>Home</b></a></li>
          <li><a href="/#about"><b>About Us</b></a></li>
           <li><a href=""><b>Aero Club</b></a></li>
          <li><a href="/#services"><b>Projects</b></a></li>
          <li class="active"><a href=""><b>Team</b></a></li>
          <li><a href="/#portfolio"><b>Gallery</b></a></li>
          <li class="drop-down"><a href=""><b>Menu</b></a>
            <ul>
              <li><a href="/login">Login (Members Only)</a></li>
              
            </ul>
          </li>
          <li><a href="/#contact"><b>Contact Us</b></a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->


   <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix marpi">
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Our Team</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter=".filter-4 , .filter-3, .filter-2" class="filter-active">ALL</li>
                <li data-filter=".filter-4">Forth Year</li>
                <li data-filter=".filter-3">Third Year</li>
                <li data-filter=".filter-2">Second Year</li>
                <li data-filter=".filter-alum">Alumni</li>
                <!-- <li data-filter=".filter-web">Web</li> -->
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container portfolio-extra" style="margin-left: 130px;">
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4">
              <div class="portfolio-wrap">
                <img src="/index/img/members/vikrant.jpg" class="img-fluid" alt="" style="width:100%">
                <div class="portfolio-info">
                  <h4><a href="#">Vikrant</a></h4>
                  <p>Secretary</p>
                  <div>
                    <a href="/index/img/members/vikrant.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Pranjal_Mangal.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Pranjal</a></h4>
                  <p>Add. Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Pranjal_Mangal.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Priyanshu_Singh_Somvanshi_4 - PRIYANSHU SINGH SOMVANSHI.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Priyanshu</a></h4>
                  <p>Add. Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Priyanshu_Singh_Somvanshi_4 - PRIYANSHU SINGH SOMVANSHI.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.2s">
              <div class="portfolio-wrap filter-sec">
                <img src="/index/img/members/Shaleen_Bansal_4 - SHALEEN BANSAL.jpg" class="img-fluid" alt="">
                <div class="portfolio-info filter-sec">
                  <h4><a href="#">Shaleen</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Shaleen_Bansal_4 - SHALEEN BANSAL.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Aayush.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Aayush</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Aayush.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4">
              <div class="portfolio-wrap">
                <img src="/index/img/members/maanas.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Maanas</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/maanas.png" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/LakshayMadaan.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Lakshay</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/LakshayMadaan.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/SriAsleesha_Komarapu_4 - KOMARAPU SRI ASLEESHA.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Asleesha</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/SriAsleesha_Komarapu_4 - KOMARAPU SRI ASLEESHA.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/akash.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Akash</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/akash.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Sanskar_Agarwal_4 - SANSKAR AGARWAL.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Sanskar</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Sanskar_Agarwal_4 - SANSKAR AGARWAL.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-4" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/kanisk.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Kanishk</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/kanisk.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div> 
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Nitika_Gupta_3 - NITIKA GUPTA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Nitika</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Nitika_Gupta_3 - NITIKA GUPTA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Shrashtika_Singh_3 - SHRASHTIKA SINGH.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Sharashtika</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Shrashtika_Singh_3 - SHRASHTIKA SINGH.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Avichal_Gupta_3 - AVICHAL GUPTA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Avichal</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Avichal_Gupta_3 - AVICHAL GUPTA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Dhriti_Gupta_3 - DHRITI GUPTA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Dhriti</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Dhriti_Gupta_3 - DHRITI GUPTA.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Mohit_Goyal_3 - MOHIT KUMAR GOYAL.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Mohit</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Mohit_Goyal_3 - MOHIT KUMAR GOYAL.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Baldeep_Singh_Chhabra_3 - BALDEEP SINGH.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Baldeep</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Baldeep_Singh_Chhabra_3 - BALDEEP SINGH.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Naman_Goyal_3-NAMAN GOYAL.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Naman</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Naman_Goyal_3-NAMAN GOYAL.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Yatin_Mittal_3 - YATIN MITTAL.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Yatin</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Yatin_Mittal_3 - YATIN MITTAL.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Manav_Saraf_3 - MANAV SARAF.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Manav</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Manav_Saraf_3 - MANAV SARAF.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Agrim_Agrawal_3 - AGRIM AGRAWAL.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Agrim</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Agrim_Agrawal_3 - AGRIM AGRAWAL.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/RITIKRAJ_3 - RITIK RAJ.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Ritik</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/RITIKRAJ_3 - RITIK RAJ.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Alakh_Verma_3 - ALAKH VERMA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Alakh</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Alakh_Verma_3 - ALAKH VERMA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Navtej_Mishra_3 - Navtej Mishra.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Navtej</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Navtej_Mishra_3 - Navtej Mishra.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Prateek_Agarwal_3 - PRATEEK AGARWAL.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Prateek</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Prateek_Agarwal_3 - PRATEEK AGARWAL.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Tanya_Rampal_3 - TANYA RAMPAL.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Tanya</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Tanya_Rampal_3 - TANYA RAMPAL.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Prathamesh_Bhaktan_3 - Prathamesh Bhaktan.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Prathamesh</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Prathamesh_Bhaktan_3 - Prathamesh Bhaktan.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Vishesh_Chandrikapure_3 - VISHESH CHANDRIKAPURE.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Vishesh</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Vishesh_Chandrikapure_3 - VISHESH CHANDRIKAPURE.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-3" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Harsh_Surya_3 - HARSH SURYA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Harsh</a></h4>
                  <p>Joint Secy</p>
                  <div>
                    <a href="/index/img/memberfull/Harsh_Surya_3 - HARSH SURYA.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Kaushik_Patil_2 - KAUSHIK PATIL.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Kaushik</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Kaushik_Patil_2 - KAUSHIK PATIL.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Ashish_Singh_2 - ASHISH NAND KISHORE SINGH.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Ashish</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Ashish_Singh_2 - ASHISH NAND KISHORE SINGH.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Madhumita_2 - MADHUMITA K.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Madhumita</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Madhumita_2 - MADHUMITA K.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Mritunjay_Choubey_2 - MRITUNJAY KUMAR CHOUBEY.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Mritunjay</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Mritunjay_Choubey_2 - MRITUNJAY KUMAR CHOUBEY.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Shrey_Agrawal_2 - SHREY AGRAWAL.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Shrey</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Shrey_Agrawal_2 - SHREY AGRAWAL.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Devesh_Rathod_2 - DEVESH KAILASH RATHOD.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Devesh</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Devesh_Rathod_2 - DEVESH KAILASH RATHOD.png" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Dishant_meena_2 - DISHANT MEENA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Dishant</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Dishant_meena_2 - DISHANT MEENA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Tanmay_Gupta_2 - TANMAY GUPTA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Tanmay</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Tanmay_Gupta_2 - TANMAY GUPTA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Hanisha_Komarapu_2 - KOMARAPU HANISHA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Hanisha</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Hanisha_Komarapu_2 - KOMARAPU HANISHA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Dheer_Samtani_2 - SAMTANI DHEER MANOJ.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Dheer</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Dheer_Samtani_2 - SAMTANI DHEER MANOJ.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Harsh_Maurya_2 - HARSH MAURYA.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Harsh</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Harsh_Maurya_2 - HARSH MAURYA.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Pahul_Singh_Sawhney_2 - PAHUL SINGH SAWHNEY.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Pahul</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Pahul_Singh_Sawhney_2 - PAHUL SINGH SAWHNEY.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Vishal_Trivedi_2 - VISHAL TRIVEDI.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Vishal</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Vishal_Trivedi_2 - VISHAL TRIVEDI.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Ananya_Sharma_2nd - ANANYA SHARMA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Ananya</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Ananya_Sharma_2nd - ANANYA SHARMA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Shivanshu_2 - SHIVANSHU KUMAR.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Shivanshu</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Shivanshu_2 - SHIVANSHU KUMAR.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Akshay_singh_2 - AKSHAY SINGH.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Akshay</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Akshay_singh_2 - AKSHAY SINGH.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Sarthak_Gupta_2 - SARTHAK GUPTA.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Sarthak</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Sarthak_Gupta_2 - SARTHAK GUPTA.png" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Dev_Shrivastav_2 - Dev Shrivastav.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Dev</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Dev_Shrivastav_2 - Dev Shrivastav.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Shivam_Yadav_2 - SHIVAM YADAV.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Shivam</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Shivam_Yadav_2 - SHIVAM YADAV.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Pranav_Arya_2 - PRANAV-ARYA.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Pranav</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Pranav_Arya_2 - PRANAV-ARYA.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-2" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Sambit_Prabhu_2 - SAMBIT PRABHU.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Sambit</a></h4>
                  <p>Member</p>
                  <div>
                    <a href="/index/img/memberfull/Sambit_Prabhu_2 - SAMBIT PRABHU.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/chirag.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Chirag</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/chirag_image.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/rahul.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Rahul</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/rahul.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div> 
            
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Sankalp.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Sankalp</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/Sankalp.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/sanjay.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Sanjay</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/sanjay.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/manoj.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Manoj</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/manoj.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div> 

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/gaurav.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Gaurav</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/gaurav.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/gorav.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Gorav</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/gorav.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/ankit.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Ankit</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/ankit.png" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/Abhishek_Pande.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Abhishek</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/Abhishek_Pande.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item filter-alum" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="/index/img/members/shazeb.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Shazeb</a></h4>
                  <p>Alumni</p>
                  <div>
                    <a href="/index/img/memberfull/shazeb.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Expand"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="link-details" title="Github"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
  
        </div>
      </section><!-- #portfolio -->
  

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1104.8750297121394!2d77.89935128813642!3d29.86673756185348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390eb3637f108c99%3A0x6375696970d04224!2sArIES%20IIT%20Roorkee!5e1!3m2!1sen!2sin!4v1571174246685!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              <!-- <iframe src="https://www.google.com/maps/place/ArIES+IIT+Roorkee/@29.8632661,77.8926332,17z/data=!3m1!4b1!4m5!3m4!1s0x390eb36fc265ea5d:0xcb1f62e79f84e4cf!8m2!3d29.8632615!4d77.8948219" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe> -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>New SAC Building,IITR</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>ecsectioniitr@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+91 7083060778</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col">
            <h3 class="sankalp" ><br><img src = "/index/img/favicon.png" height = 50><b>&nbspArIES</b></h3>
            <p style="font-size:20px"><b> Innovate | Imagine | Inspire </b></p>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p> -->
          </div>

    <!--       <div class="col">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
 -->
<!--           <div id="test" class="col">
            <h4>Contact Us</h4>
            <p><
              New SAC Building <br>
              Opp. Kasturba Bhawan<br>
              IIT Roorkee <br>
              Roorkee, Uttarakhand <br>
              <strong>Phone:</strong> +91 7083060778<br>
              <strong>Email:</strong> ecsectioniitr@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="Expand"><i class="fa fa-arrows-alt"></i></a>
            </div>

          </div>

 -->
        <div class="col">
          <img src = "index/img/brain.png" height = "210">
        </div>



          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Contact Us</h4>
            <p>
              New SAC Building <br>
              Opp. Kasturba Bhawan<br>
              IIT Roorkee <br>
              Roorkee, Uttarakhand <br>
              <strong>Phone:</strong> +91 7083060778<br>
              <strong>Email:</strong> ecsectioniitr@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-github fa-lg"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="Expand"><i class="fa fa-arrows-alt"></i></a>
            </div>

    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ArIES</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a>ArIES-IITR</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/index/lib/jquery/jquery.min.js"></script>
  <script src="/index/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/index/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/index/lib/easing/easing.min.js"></script>
  <script src="/index/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/index/lib/wow/wow.min.js"></script>
  <script src="/index/lib/waypoints/waypoints.min.js"></script>
  <script src="/index/lib/counterup/counterup.min.js"></script>
  <script src="/index/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/index/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/index/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/index/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/index/js/main.js"></script>
</body>
</html>
